<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
    <title>Student Data</title>

    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link rel="stylesheet" href="index.css">
    <link rel="icon" type="image/png"  href="img/uvuFavicon.png" sizes="32x32">
</head>
<body ng-app="app" ng-controller="studentsController">

<header-dir></header-dir>


<div class="container">
    <div class="section">
        <div class="row">
            <div class="col s3 m3">
                <a class="waves-effect waves-light btn tooltipped" data-tooltip="View as Table" data-position="top" ng-click="showTable()"><i class="material-icons medium">view_list</i></a>
                <a class="waves-effect waves-light btn tooltipped" data-tooltip="View as Tiles" data-position="top" ng-click="showTiles()"><i class="material-icons medium">view_module</i></a>
            </div>
            <div class="col s9 s9 right">
                <!--Modal trigger-->
                <a class="waves-effect waves-light btn tooltipped"
                   data-tooltip="Add Student"
                   data-position="top"
                   ng-click="addStudent()">
                    <i class="material-icons medium">note_add</i>
                </a>

                <a class="waves-effect waves-light btn tooltipped" data-tooltip="Undo Delete" data-position="top" ng-click="restoreLastStudent()"><i class="material-icons medium">restore</i></a>
            </div>
        </div>
        <!--   Icon Section   -->
        <div class="row" id="tableDiv">
            <div class="col s12 m12">
                <table class='table highlight'>
                    <thead class="light-blue accent-1 ">
                        <tr >
                            <th ng-click="AdjustSort('fname')" style="width:125px">
                                Full Name
                                <i ng-show="showFullNameDesc" class="material-icons tiny">trending_down</i>
                                <i ng-show="showFullNameAsc" class="material-icons tiny">trending_up</i>
                            </th >
                            <th ng-click="AdjustSort('startDate')" style="width:100px">
                                Start Date
                                <i ng-show="showStartDateDesc" class="material-icons tiny">trending_down</i>
                                <i ng-show="showStartDateAsc" class="material-icons tiny">trending_up</i>
                            </th>
                            <th ng-click="AdjustSort('street')">
                                Street
                                <i ng-show="showStreetDesc" class="material-icons tiny">trending_down</i>
                                <i ng-show="showStreetAsc" class="material-icons tiny">trending_up</i>
                            </th >
                            <th ng-click="AdjustSort('city')">
                                City
                                <i ng-show="showCityDesc" class="material-icons tiny">trending_down</i>
                                <i ng-show="showCityAsc" class="material-icons tiny">trending_up</i>
                            </th>
                            <th ng-click="AdjustSort('state')" style="width:75px">
                                State
                                <i ng-show="showStateDesc" class="material-icons tiny">trending_down</i>
                                <i ng-show="showStateAsc" class="material-icons tiny">trending_up</i>
                            </th >
                            <th ng-click="AdjustSort('zip')" style="width:100px">
                                Zip Code
                                <i ng-show="showZipCodeDesc" class="material-icons tiny">trending_down</i>
                                <i ng-show="showZipCodeAsc" class="material-icons tiny">trending_up</i>
                            </th>
                            <th ng-click="AdjustSort('phone')" style="width:100px">
                                Phone
                                <i ng-show="showPhoneNumberDesc" class="material-icons tiny">trending_down</i>
                                <i ng-show="showPhoneNumberAsc" class="material-icons tiny">trending_up</i>
                            </th>
                            <th ng-click="AdjustSort('year')" style="width:100px">
                                Year
                                <i ng-show="showYearDesc" class="material-icons tiny">trending_down</i>
                                <i ng-show="showYearAsc" class="material-icons tiny">trending_up</i>
                            </th>
                            <th id='buttons' ></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="x in studentList | orderBy:sortType:sortReverse">
                            <td>{{x.fname + " " + x.lname}}</td>
                            <td>{{x.startDate | date}}</td>
                            <td>{{x.street}}</td>
                            <td>{{x.city}}</td>
                            <td>{{x.state}}</td>
                            <td>{{x.zip}}</td>
                            <td>{{x.phone}}</td>
                            <td>{{getSchoolYearFromNumber(x.year)}}</td>
                            <td class="right">
                                <a class="waves-effect waves-light btn tooltipped"
                                   data-tooltip="Edit this student's info"
                                   data-position="top" ng-click="editStudent(x)">
                                    <i class="material-icons medium">mode_edit</i>
                                </a>
                                <a class="waves-effect waves-light btn tooltipped"
                                   data-tooltip="Delete this student"
                                   data-position="top" ng-click="deleteStudent(x)">
                                    <i class="material-icons medium">delete</i>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row" id="tilesDiv">
            <div id="studentDataTiles" class="grid col s12 m12">
                <div class="row">
                    <div ng-repeat="x in studentList" class="col s12 m3" studentInfo="x" tileDir>
                        <div class="card light-blue accent-1">
                            <div class="card-content" ng-click="editStudent(x)">
                                <span class="card-title orange-text text-darken-2"><strong>{{x.fname + " " + x.lname}}</strong></span>
                                <label class="orange-text text-darken-2">Start Date</label>
                                <p>{{x.startDate}}</p>
                                <label class="orange-text text-darken-2">Address</label>
                                <p>{{x.street}}</p>
                                <p>{{x.city + ", " + x.state + " " + x.zip}}</p>
                                <label class="orange-text text-darken-2">Phone #</label>
                                <p>{{x.phone}}</p>
                                <label class="orange-text text-darken-2">Year</label>
                                <p>{{getSchoolYearFromNumber(x.year)}}</p>
                            </div>
                            <div class="card-action">
                                <a class="waves-effect waves-light btn tooltipped"
                                   data-tooltip="Edit this student's info"
                                   data-position="top" ng-click="editStudent(x)">
                                    <i class="material-icons medium">mode_edit</i>
                                </a>
                                <a class="waves-effect waves-light btn tooltipped right"
                                   data-tooltip="Delete this student"
                                   data-position="top" ng-click="deleteStudent(x)">
                                    <i class="material-icons medium">delete</i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a class="waves-effect waves-light btn" ng-click="loadMore()">Load More...</a>
        <br><br>
    </div>
</div>

<div class="modal" id="loadingModal" >
    <div class="modal-content">
        <div class="progress">
            <div class="determinate" id="progressBar" style="width: 0%"></div>
        </div>
    </div>
</div>

<!-- Edit/Add Student Modal -->
<div id="StudentModal" class="modal">
    <div class="modal-content">
        <h4>Student Information</h4>
        <div class="input-field">
            <input id="first_name" type="text"  ng-model="firstName">
            <label for="first_name" class="active">First Name</label>
        </div>
        <div class="input-field">
            <input id="last_name" type="text" ng-model="lastName">
            <label for="last_name" class="active">Last Name</label>
        </div>
        <div class="input-field">
            <input id="start_date" type="text"  class="datepicker" ng-model="startDate">
            <label for="start_date" class="active">Start Date</label>
        </div>
        <div class="input-field">
            <input id="street" type="text"  ng-model="street">
            <label for="street" class="active">Street</label>
        </div>
        <div class="input-field">
            <input id="city" type="text"  ng-model="city">
            <label for="city" class="active">City</label>
        </div>
        <div class="input-field">
            <input id="state" type="text"  ng-model="state">
            <label for="state" class="active">State</label>
        </div>
        <div class="input-field">
            <input id="zip" type="text" ng-model="zip">
            <label for="zip" class="active">Zip</label>
        </div>
        <div class="input-field">
            <input id="phone_number" type="text" ng-model="phoneNumber">
            <label for="phone_number" class="active">Phone Number</label>
        </div>
        <label>Class Level</label>
        <select ng-model="year" id="modalYear">
            <option value="" disabled>Choose the Class Level</option>
            <option value="1" >Freshmen</option>
            <option value="2" >Sophomore</option>
            <option value="3" >Junior</option>
            <option value="4" >Senior</option>
        </select>
    </div>
    <div class="modal-footer">
        <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat" ng-click="addOrEditStudent()">Save</a>
    </div>
</div>

<footer class="page-footer orange">
    <div class="container white-text">
        <a href="https://github.com/CaseyLeeMurphy/cs4690" class="modal-action modal-close waves-effect waves-green btn-flat white-text">Made by Casey Lee Murphy</a>
        <a href="https://github.com/CaseyLeeMurphy/cs4690" class="right modal-action modal-close waves-effect waves-green btn-flat white-text">See the code!</a>
        <br><br>
    </div>
</footer>


<!--  Scripts-->
<script src="lib/cookies-2.1.2.js"></script>
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script src="js/materialize.js"></script>
<script src="js/init.js"></script>
<script src="index.js"></script>

</body>
</html>
